<div id="header">
    <div id="courtain">
        <nav id="navbar">
            <div class="left-side-nav">
                <a href="#"><span id="logo" class="nav-item">TB</span></a>
            </div>
            <div class="mid-site-nav">
                <ul id="nav-item-list">
                    <li class="nav-item">Main</li>
                    <li class="nav-item">About</li>
                    <li class="nav-item">Contact</li>   
                </ul>                
            </div>
            <div class="right-site-nav">     
                <a target="_blank" href="https://www.facebook.com/tomasz.borek.96"><img class="icon" src="../../assets/navbar/facebook-icon.png"></a>
                <a target="_blank" href="https://www.linkedin.com/in/tomasz-borek-52267815b"><img class="icon" src="../../assets/navbar/linkedin-icon.png"></a>
                <a target="_blank" href=""><img class="icon" src="../../assets/navbar/instagram-icon.png"></a>
                <a target="_blank" href="https://github.com/tomasz-borek"><img class="icon" src="../../assets/navbar/github-icon.png"></a>
            </div>
        </nav>
    </div>
    <div id="motto">
        <p>Let's make</p>
        <p>a new</p>
        <p>Future!</p>    
    </div> 
</div>
<div id="space"></div>